
# OpenSSL configuration file for generating a CSR for localhost and 127.0.0.1

[req]
default_bits = 2048
default_keyfile = localhost.key
distinguished_name = PWA_Triathlon_App
req_extensions = v3_req
prompt = no

[PWA_Triathlon_App]
C = NZ
ST = Canterbury
L = Christchurch
O = Ara
OU = RED0270
CN = localhost

[v3_req]
subjectAltName = @alt_names

[alt_names]
DNS.1 = localhost
IP.1 = 127.0.0.1
