:root {
    --blue: #0067C4;
    --blue-dark: #003462;
    --blue-light: #80b3e2;
    --blue-white: #E6F0F9;

    --pink: #DC2572;
    --pink-dark: #730031;
    --pink-light: #f380b0;
    --pink-white: #FDE6F0;


    --yellow: #FFF758;
    --yellow-dark: #b3ad3e;
    --yellow-light: #fffbac;

    --orange: #FF934F;
    --orange-dark: #804a28;
    --orange-light: #ffc9a7;

    --black: #333;
}

/* Colours */
.orange {
    border-color: var(--orange);
    color: var(--orange);
}

.orange-light {
    border-color: var(--orange-light);
    color: var(--orange-light);
}

.orange-dark {
    border-color: var(--orange-dark);
    color: var(--orange-dark);
}

.blue {
    border-color: var(--blue);
    color: var(--blue);
}

.blue-light {
    border-color: var(--blue-light);
    color: var(--blue-light);
}

.blue-dark {
    border-color: var(--blue-dark);
    color: var(--blue-dark);
}

.pink {
    border-color: var(--pink);
    color: var(--pink);
}

.pink-light {
    border-color: var(--pink-light);
    color: var(--pink-light);
}

.pink-dark {
    border-color: var(--pink-dark);
    color: var(--pink-dark);
}

.yellow {
    border-color: var(--yellow);
    color: var(--yellow);
}

.yellow-light {
    border-color: var(--yellow-light);
    color: var(--yellow-light);
}

.yellow-dark {
    border-color: var(--yellow-dark);
    color: var(--yellow-dark);
}


/* Global reset */
* {
    padding: 0;
    margin: 0;
}

img {
    width: 100%;
    height: fit-content;
}

#root {
    min-height: 100vh;
}


/* Headings */
h1 {}

h2 {
    padding-bottom: 1em;
}

h3 {}

/* Background effect */
.glow-circle {
    position: absolute;
    width: 900px;
    height: 900px;
    border-radius: 50%;
    background: radial-gradient(circle, rgba(255, 19, 137, 0) 0%, white 100%);
    pointer-events: none;
    filter: blur(200px);
    transform: translate(-50%, -50%);
    opacity: 1;
    transition: left 0.1s ease-out, top 0.1s ease-out;
}

.glowBox {
    overflow: unset;
    width: 100%;
    z-index: -1;
    position: fixed;
    height: 100%;
    top: 0;
}


body {
    color: var(--black);
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings:
        "width" 100;
    background: var(--blue);
    background: linear-gradient(45deg, var(--blue) 0%, var(--blue-dark) 100%);
    background-attachment: fixed;

}

#hide {
    position: fixed;
    background-color: #33333360;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
}

aside {
    display: flex;
    justify-content: center;
}

main {}

.box {
    margin: 1em;
    padding: 1em;
    background-color: white;
    box-shadow: 0px 0px 18px -5px rgba(0, 0, 0, 0.67);
    -webkit-box-shadow: 0px 0px 18px -5px rgba(0, 0, 0, 0.67);
    -moz-box-shadow: 0px 0px 18px -5px rgba(0, 0, 0, 0.67);
    border-radius: .4em;
}

button {
    padding: 5px 10px;
    margin: 5px 5px;
    background-color: rgba(255, 255, 255, 0);
    border: solid;
    cursor: pointer;
    border-radius: 5px;
    transition: 500ms ease-in-out;
}

button:hover {
    color: var(--pink);
}

.icon {
    border: none;
    width: auto;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    gap: .5em;
}

#userPage {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2em;
}

#notification {
    z-index: 2000;
    max-width: 300px;
    margin: 1em;
    position: fixed;
    top: -100px;
    justify-self: center;
    box-shadow: 0px 0px 18px -5px rgba(0, 0, 0, 0.67);
    -webkit-box-shadow: 0px 0px 18px -5px rgba(0, 0, 0, 0.67);
    -moz-box-shadow: 0px 0px 18px -5px rgba(0, 0, 0, 0.67);
    border-radius: 10px;
    transition: top 0.5s ease-in-out;
    background-color: white;
}

#notification.show {
    top: 10px;
}

#notification>div {
    display: flex;
    align-items: center;
    gap: 5px;
    border-radius: 10px;
    border-style: solid;
    padding: 1em;
    margin: .2em;
    background-color: white;
}

#notification p {
    /* transition: 5s ease-in-out; */
}

#notification .icon-info {
    padding-right: .5em;
}

.error>div,
.error p {
    border-color: var(--pink);
    color: var(--pink);
    background-color: white;
    /* transition: 0.5s ease-in-out !important; */
}

.error {
    background-color: var(--pink) !important;
}

.success>div,
.success p {
    border-color: var(--blue);
    color: var(--blue);
    background-color: white;
}

.success {
    background-color: var(--blue) !important;
}


input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
input[type="date"],
input[type="time"],
textarea,
select {
    width: 100%;
    width: -moz-available;
    width: -webkit-fill-available;
    width: fill-available;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

textarea {
    max-width: 100%;
    min-width: 100%;
}


input[type="submit"] {
    width: 100%;
    width: -moz-available;
    width: -webkit-fill-available;
    width: fill-available;

    padding: 5px 10px;
    margin: 5px 5px;
    background-color: var(--blue);
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: 500ms ease-in-out;
}

input[type="submit"]:hover {
    background-color: var(--blue-dark);
}

#signup-btn {
    background-color: var(--pink);
    border-style: none;
    color: white;
    width: 100%;
    width: -moz-available;
    width: -webkit-fill-available;
    width: fill-available;
}

#signup-btn:hover {
    background-color: var(--pink-dark);
}

#signup {
    position: fixed;
    max-width: 400px;
    max-height: 14em;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 2000;
}

#newSession,
#settings {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 400px;
    min-width: 300px;
    z-index: 2000;
}

#signup>div,
#newSession>div,
#settings>div {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

#login {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5em;
    align-content: center;
    max-width: 80%;
    padding-bottom: 20vh;
}

#login>div {
    width: 100%;
}

@media screen and (min-width: 62em) {
    #root {
        max-width: 100%;
        display: grid;
        grid-template-columns: 2rem 20rem 1fr;
    }

    aside {
        grid-column: 2/3;
    }

    main {
        grid-column: 3/4;
    }


}

@media screen and (min-width: 92em) {
    #root {
        grid-template-columns: 2rem 25rem 1fr 2rem;
    }

    main {
        grid-column: 3/4;
    }
}